body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: 'Press Start 2P', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ddd;
/* background: -moz-linear-gradient(top,  #ffffff 1%, #d4d4d4 100%);
background: -webkit-linear-gradient(top,  #ffffff 1%,#d4d4d4 100%);
background: linear-gradient(to bottom,  #ffffff 1%,#d4d4d4 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d4d4d4',GradientType=0 );

  
background-attachment: fixed; */
}

code {
  font-family: 'Press Start 2P', cursive;
}
.ui.grid>.row>.column {
  margin-top: 0 !important;
  margin-bottom: 30px !important;
  transition: 0.5s ease;
}
.ui.grid>.row>.column:hover {
  transform: scale(1.07);
}
.text-center{
  text-align: center;
}
h1 {
  font-family: 'Press Start 2P', cursive;  
}
.ui.header {
  
  font-family: 'Press Start 2P', cursive !important;
 
}
.poke-text{

	text-shadow: 0px 0px 5px #448aff;
	color: #ffc107 !important;
	font-size: 2.8rem !important;

}
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}

.pagination>li>a, .pagination>li>span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
li{
  list-style: none;
  display: inline;
  cursor:pointer;
}